@use "../../index.scss";

.homeContainer {
	grid-column-start: 2 !important;
	overflow: hidden;
	@media only screen and (max-width: 800px) {
		grid-column-start: 1 !important;
		display: flex;
		justify-content: center;
	}
}

.logoContainer {
	margin-top: 3.34vw;
	margin-left: 5vw;
	width: 6.8vw !important;
	height: 6.8vw!important;
	img {
		width: 100%;
		height: 100%;
		@media only screen and (max-width: 700px) {
			width: 120%;
			height: 120%;
		}
	}
}

.triContainer {
	img {
		width: 32.5vw;
	}
}

.nameContainer {
	h1 {
		font-size: 6rem;
		margin-top: 15.625vw;
		font-weight: 400;
		@media only screen and (max-width: 700px) {
			font-size: 5rem;
		}
	}
}

.miniTitle {
	h2 {
		font-weight: 400;
		font-size: 36px;
		@media only screen and (max-width: 1350px) {
			color: index.$font-color-25;
		}
	}
}

.mtTrContainer {
	position: absolute;
	grid-column-start: 8;
	top: 143px;
	z-index: -1;
	right: 8.3vw;
	div {
		position: absolute;
		z-index: 2;
		font-size: 36px;
		left: 27.56%;
		bottom: 35.13%;
	}
	@media only screen and (max-width: 1080px) {
		top: 280px;
	}
	@media only screen and (max-width: 780px) {
		right: 0;
		transform: scale(0.9);
	}
	@media only screen and (max-width: 600px) {
		transform: scale(0.8);
		top: 190px;
	}
	@media only screen and (max-width: 500px) {
		transform: scale(0.6);
		right: -25vw;
	}
	@media only screen and (max-width: 400px) {
		transform: scale(0.5);
		right: -35vw;
		top: 100px;
	}
}

.subTitle {
	font-size: 2.5rem;

}
