.recharts-wrapper {
    width: 60% !important;
    height: auto !important;
    display: flex;
    justify-content: flex-end;
    svg {
        width: 90%;
        height: auto;
        overflow: inherit;
    }
}

@media only screen and (max-width: 961px) {
    .recharts-pie-label-text {
        tspan {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    .recharts-pie-label-text {
        tspan {
            font-size: 2rem;
        }
    }
}
