@use '../../index.scss';

.cardListContainer {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(270px, 1fr) );
    padding: 0 15vw;
    row-gap: 8vw;
    column-gap: 17vw
}

.cardListContainerDetail {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    padding: 0 13vw;
    row-gap: 8vw;
    column-gap: 3vw
}

.scrollReps {
    max-height: 60vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 40px;
}