@use "../../index.scss";

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.aboutContent {
	width: 60vw;
	font-size: 2.25rem;
	@media only screen and (max-width: 800px) {
		width: 80vw;
	}
}

.gold {
	color: index.$gold-color;
}


.lines {
	position: absolute;
	align-self: center;
	justify-self: center;
	width: 150vw;
	height: 150vh;
}
