@use '../../index.scss';

.contact {
    position: relative;
}
.contactContainer {
    padding: 0 17vw 10vw 17vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media only screen and (max-width: 650px) {
		width: 100%;
        padding: 0;
        margin-bottom: 100px;
	}
}

.socialHalf {
    width: 50%;
    min-width: 500px;
    @media only screen and (max-width: 650px) {
		min-width: 0;
        width: 80%;
	}
}

.triConContainer {
	img {
		width: 32.5vw;
	}
}

.mtTrConContainer {
	position: absolute;
	grid-column-start: 8;
	bottom: -5px;
	z-index: -1;
	right: 6vw;
	div {
		position: absolute;
		z-index: 2;
		font-size: 36px;
		left: 27.56%;
		bottom: 35.13%;
	}
}

.contactForm {
    width: 100%;
}

.inp {
    width: 100%;
    background: none;
    border: none;
    margin-top: 32px;
    font-size: 1.5rem;
    border-bottom: 2px solid index.$font-color-50;
    color: index.$font-color;
    resize: none;

}

.inp:focus {
    background: index.$font-color-10;
    outline:none;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background: none !important;
    color: index.$font-color !important;
}

.submit {
    margin-top: 20px;
    position: relative;
    background: none;
    border: none;
    color: index.$font-color-50;
    font-size: 1.7rem;
    padding: 0;
}

.submitBall {
	background: #c08d2c;
	width: 4px;
	height: 4px;
	position: absolute;
	right: -10px;
	bottom: 5px;
	border-radius: 50px;
}

.arrow {
    width: 32px;
    height: auto;
	position: absolute;
	right: -25px;
	bottom: -5px;
	border-radius: 50px;
}