@use "../../index.scss";

.lLine {
	border: 1px solid index.$font-color-25;
	width: 0px;
	height: 10%;
    margin-left: calc(51%);
}

.sLine {
	border: 1px solid index.$font-color-25;
	width: 0px;
	height: 5%;
    margin-left: calc(51%);
}

.textNav {
	font-size: 1.5rem;
    transform: rotate(180deg);   
    text-align: center;
    writing-mode: vertical-rl;
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
    color: index.$font-color-50;
}

.textNavContainer {
    margin: 16px 16px;  
}

.navContainer {
    position: fixed;
    right: -5px;
    height: 90vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.active {
    color: index.$font-color;
}